/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

nav {

    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
    justify-content: center;

}

nav div {

    width: 80%;
    display: flex;
    justify-content: space-around;

}

nav a { color: gray; text-decoration: none;}

.header-text { font-size: 60px; }

#get-started {

    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    font-family: 'Titillium Web', sans-serif;

}

#header-container {

    width: 95%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 40px 0px;
    border-bottom: 1px solid black;

}

#header-subcontainer { margin-right: 200px; }

.content-container {

    width: 100%;
    display: flex;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;

}

.content-block-a { width: 47.5%; text-align: left; }

.content-block-b { width: 33%; text-align: left; }

#middle-img { width: 95%; margin: 0 auto; }

/* Service Page */

#services-wrapper {

    width: 80%;
    margin: 0 auto;

}

.services-container {

    display: flex;
    justify-content: center;

}

.services-content {

    width: 30%;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: lightgray;
    border: 1px solid black;
    justify-content: space-between;

}

.learn-button {

    margin-top: 20px;
    width: fit-content;
    border-radius: 5px;
    background: white;
    border: 1px solid black;
    padding: 5px 20px 5px 20px;

}

#facts-container {

    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}

#facts-container ul {

    list-style-type: disc;
    margin-top: 20px;
    margin-left: 20px;

}

#facts-container div { width: 60%; }

@media(min-width: 0px) { /* Mobile */

    nav {
 
        width: 100%;
        display: flex;
        height: fit-content;
        justify-content: center;
        margin: 0 auto 20px auto;
        flex-direction: column-reverse;

    }

    nav div {

        width: 100%;
        display: flex;
        flex-direction: column;

    }

    nav img { padding: 15px; }

    nav a {

        width: 100%;
        padding: 15px;
        text-align: center;
        border-top: 1px solid black;
        border: 1px solid black;

    }

    #header-subcontainer { margin-right: 0px; }

    #header-container img { display: none; }

    .content-container {

        flex-direction: column;

    }

    .content-block-a, .content-block-b { 
        width: 95%; 
        margin: 20px 0px 20px 0px; 
    }

    .content-block-a { margin: 10px; }

    .services-container {

        flex-direction: column;

    }

    .services-content { width: 100%; margin: 20px 0px 20px 0px; }

    #facts-container {

        flex-direction: column-reverse;

    }

    #facts-container img { margin-bottom: 20px; }

    #facts-container div { width: 100%; }

}

@media(min-width: 500px) { /* Tablet */

    nav {

        height: 100px;
        margin-top: 30px;
        justify-content: space-between;
        flex-direction: column-reverse;

    }

    nav div { 

        flex-direction: row;
        margin-bottom: 20px; 

    }

    #header-container img { display: none; }

    #header-subcontainer { margin-right: 0px; }

    .services-container { flex-direction: row; }

    .services-content { width: 44%; margin: 20px; }

}

@media(min-width: 800px) {
    
    nav {

        display: flex;
        height: fit-content;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    
    }
    
    nav div {
    
        flex-direction: row;
        margin-bottom: 0px;
    
    }

    nav img { padding: 0px; background: pink; }

    .content-block-a, .content-block-b { 

        width: 95%; 
        margin: 20px 0px 20px 0px; 

    }

    .content-block-a { margin: 20px; }
    
    .services-container {
    
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    
    .services-content {

        background: lightgray;
        border: 1px solid black;
        justify-content: space-between;
    
    }

}